.toggle-control {
  display: block;
  position: relative;
  padding-left: 60px;
  /* padding-left: 100px; */
  margin-bottom: 6px;
  /* margin-bottom: 12px; */
  cursor: pointer;
  /* font-size: 11px; */
  font-size: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.toggle-control input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.toggle-control input:checked ~ .control {
  background-color: #2fb45a;
}
.toggle-control input:checked ~ .control:after {
  left: 27.5px;
}
.toggle-control .control {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 50px;
  border-radius: 12.5px;
  background-color: darkgray;
  transition: background-color 0.15s ease-in;
}
.toggle-control .control:after {
  content: "";
  position: absolute;
  left: 2.5px;
  top: 2.5px;
  width: 20px;
  height: 20px;
  border-radius: 12.5px;
  background: white;
  transition: left 0.15s ease-in;
}

/* Center the control */
/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #222229;
  color: white;
} */